<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!--  不是通過接口實現
<mapper namespace="com.mayer.mybatis.helloworld.EmployeeMapper">
	<select id="selectEmp" resultType="com.mayer.mybatis.helloworld.beans.Employee">
		select id, last_name lastName, gender,email  from tbl_employee where id = #{id}
	</select>
</mapper>

-->


<mapper namespace="com.mayer.mybatis.crud.dao.EmployeeMapper">
	<!-- <cache eviction="FIFO"></cache> -->
	
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>

	<select id="getEmpsByLastNameLikeReturnMap" resultType="com.mayer.mybatis.crud.beans.Employee">
		select id, last_name lastName, gender, email from tbl_employee where last_name like #{lastName}
	</select>
		
	<select id="getEmpByIdReturnMap" resultType="map">
		select id, last_name lastName, gender,email  from tbl_employee where id = #{id}
	</select>

	<select id="getEmpsByLastNameLike" resultType="com.mayer.mybatis.crud.beans.Employee">
		select id, last_name lastName, gender, email from tbl_employee where last_name like #{lastName}
	</select>

	<select id="getEmpByUseActualParamName" resultType="com.mayer.mybatis.crud.beans.Employee" >
		select id, last_name lastName, gender, email from tbl_employee where id = #{id} and last_name = #{lastName}
	</select>

	<select id="getEmpByMap" resultType="com.mayer.mybatis.crud.beans.Employee">
		select id, last_name lastName, gender, email from ${tableName} where id = #{id} and last_name = #{lastName}
	</select>
		
	<select id="getEmpByIdLastName" resultType="com.mayer.mybatis.crud.beans.Employee">
		select id, last_name lastName, gender, email from tbl_employee where id = #{id} and last_name = #{lastName}	
	</select>
	
	<select id="getEmpById" resultType="com.mayer.mybatis.crud.beans.Employee">
		select id, last_name lastName, gender,email  from tbl_employee where id = #{id}
	</select>
	
	<insert id="addEmp" parameterType="com.mayer.mybatis.crud.beans.Employee" useGeneratedKeys="true"
		keyProperty="id">
		insert into tbl_employee(last_name, email, gender) values(#{lastName}, #{email}, #{gender})
	</insert>
	
	<update id="updateEmp" >
		update tbl_employee set last_name=#{lastName}, email=#{email}, gender=#{gender} where id=#{id}
	</update>
	
	<delete id="deleteEmp">
		delete from tbl_employee where id=#{id}
	</delete>
</mapper>