<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="helloWorld" class="com.mayer.spring.beans.HelloWorld">
		<property name="name" value="Spring"></property>
	</bean>
	
	<bean id="car1" class="com.mayer.spring.beans.Car">
		<constructor-arg value="audi" type="java.lang.String"></constructor-arg>
		<constructor-arg value="shanghai" type="java.lang.String"></constructor-arg>
		<constructor-arg value="30000" type="double"></constructor-arg>
	</bean>
	
	<bean id="car2" class="com.mayer.spring.beans.Car">
		<constructor-arg value="audi" type="java.lang.String"></constructor-arg>
		<constructor-arg value="shanghai" type="java.lang.String"></constructor-arg>
		<constructor-arg value="230" type="int"></constructor-arg>
	</bean>

</beans>
